<!--
/*
* AUTHOR: wyp
* EMAIL: 1140664142@qq.com
* CREATE TIME: 2015.1.28
*/
-->
<div id="clinicInfoBody">
    <div>
        <div class="top_bar" ng-init="favorite=true">
            <img src="app/static/image/return.png" ng-click="back()" width="16px" height="16px" />
            <span>{{clinicInfo.name}}</span>
            <span class="reorderIconSpan" ui-sref="userFavorite({target: 'hospital'})"><i class="reorder icon"></i></span>
        </div>
    </div>

    <div id="clinicPage" ng-show="currentPage=='clinic'">
        <section class="clinicImgs">
            <img ng-src="app/static/image/{{clinicInfo.images[0]}}.jpg" width="94px" height="70px" />
            <img ng-src="app/static/image/{{clinicInfo.images[1]}}.jpg" width="94px" height="70px" />
            <img ng-src="app/static/image/{{clinicInfo.images[2]}}.jpg" width="94px" height="70px" />
        </section>

        <section class="clinicIntroduction">
            <p>
                酒家简介
            </p>
            <div ng-click="showClinicIntroduction=!showClinicIntroduction">
                <span  ng-show="showClinicIntroduction">收起</span>
                <span  ng-show="!showClinicIntroduction">展开</span>
            </div>
            <p ng-init="showClinicIntroduction=true" ng-show="showClinicIntroduction" class="clinicDetailSecondP">
                {{clinicInfo.introduction}}
            </p>
        </section>

        <!-- <section class="clinicDetail">
            <p>
                最新公告
            </p>
            <div ui-sref="clinicNews({clinicId : clinicID})">
                <img src="app/static/image/go.png"/>
            </div>
            <p class="clinicDetailSecondP">
                {{announcement.title}}
            </p>
        </section> -->

        <!-- <section class="clinicDetail" id="clinicDetailMapDiv" ng-click="showMap=!showMap; setMap();"> -->
        <section class="clinicDetail" id="clinicDetailMapDiv">
            <p>
                酒家地址
            </p>
            <div id="clinicDetailMapTagDiv">
                <img src="app/static/image/loc.png" width="20px" height="20px" />
            </div>
            <p class="clinicDetailSecondP">
                {{clinicInfo.address}}
            </p>
            <div id="l-map" ng-show="showMap" onclick="event.stopPropagation();"></div>
        </section>

        <section class="clinicDetail">
            <p>
                酒家电话
            </p>
            <div>
                <img src="app/static/image/call.png" width="20px" height="20px"/>
            </div>
            <p class="clinicDetailSecondP">
                {{clinicInfo.phone}}
            </p>
        </section>

        <section id="clinicMark">
            <p>
                酒家二维码
            </p>
            <div class="textAlignCenter marginTop20px">
                <img src="app/static/image/{{clinicInfo.images[3]}}.jpeg" />
            </div>
        </section>
    </div>

</div>