<!--
/*
* AUTHOR: wyp
* EMAIL: 1140664142@qq.com
* CREATE TIME: 2015.1.28
*/
-->

<!--首页-->
<ionic-view>
    <!-- header -->
    <ionic-content class="no-header">
        <div class="bar bar-header bar-dark">
            <h2 class="title">图欧平台</h2>
        </div>
    </ionic-content>

    <!-- content -->
    <div id="homepage_flux">
    </div>

     <ul class="row homepage_row">
        <li class="col homepage_col" ui-sref="clinicInfo({clinicId: 1})">
            <div><i class="food icon"></i></div>
            我的无烟酒家
        </li>
        <li class="col homepage_col" ui-sref="userInsurance">
            <div><i class="ticket icon"></i></div>
            优惠卷广场
        </li>
    </ul>

    <ul class="row homepage_row">
        <li class="col homepage_col" ui-sref="userhealthCompany">
            <div><i class="building icon"></i></div>
            健康商家广场
        </li>
        <li class="col homepage_col" ui-sref="userDoAFavour">
            <div><i class="asterisk icon"></i></div>
            便民服务广场
        </li>
    </ul>

    <ul class="row homepage_row">
        <li class="col homepage_col">
            <div><i class="leaf icon"></i></div>
            我的好空气
        </li>
        <li class="col homepage_col" ui-sref="userMenu">
            <div><i class="coffee icon"></i></div>
            我的健康生活
        </li>
    </ul>

</ionic-view>