<!--
/*
* AUTHOR: wyp
* EMAIL: 1140664142@qq.com
* CREATE TIME: 2015.1.28
*/
/*
* AUTHOR: weapon
* EMAIL: 2385367768@qq.com
* EDIT TIME: 2015.3.12
*/
-->
<div id="userMenuContent" ng-init="showSub=false">

    <div ng-show="!showSub">
        <div ng-include="'app/views/top.html'"></div>

        <div class="list" ng-click="showSub=true">

          <a class="item item-icon-left" ng-click="subtitle='我的分享'">
            <i class="icon ion-aperture"></i>
            我的分享
          </a>

          <a class="item item-icon-left item-icon-right" ng-click="subtitle='我的优惠卷'">
            <i class="ticket icon marginLeft-43px"></i>
            我的优惠卷
          </a>

          <a class="item item-icon-left item-icon-right" ng-click="subtitle='我的健康商家'">
            <i class="building icon marginLeft-43px"></i>
            我的健康商家
          </a>

          <a class="item item-icon-left item-icon-right" ng-click="subtitle='我的便民服务'">
            <i class="asterisk icon marginLeft-43px"></i>
            我的便民服务
          </a>

        </div>
    </div>

    <div ng-show="showSub">

        <div class="returnPic">
            <img src="app/static/image/return.png" ng-click="showSub=false" width="16px" height="16px" />
            <span>{{subtitle}}</span>
        </div>

        <div ng-show="subtitle=='我的分享'">
            <div class="padding10px">
                <div class="ui blue fluid button">
                我要分享
                </div>
            </div>
        </div>

        <div ng-show="subtitle=='我的优惠卷'">
            <ion-list show-reorder="data.showReorder">

                <ion-item ng-repeat="item in items" item="item" class="item-remove-animate" ng-click="showAsuranceDetail($index)">
                  {{item.style}} {{item.id}}
                </ion-item>

            </ion-list>
        </div>

        <div ng-show="subtitle=='我的健康商家'">
          <ion-list show-reorder="data.showReorder">

            <ion-item item="item" class="item-remove-animate" ng-click="showhealthCompanyDetail($index)">
              方所书店
            </ion-item>

          </ion-list>
        </div>

        <div ng-show="subtitle=='我的便民服务'">
            <div class="list">

              <div class="item item-divider box-sizing-border-box textAlignCenter">
                便民服务热线
              </div>

              <!-- <a class="item">
                煤气抢险
                <span class="item-note">
                  85515920
                </span>
              </a> -->

              <a class="item">
                自来水供水热线
                <span class="item-note">
                  81962288
                </span>
              </a>

              <a class="item">
                广州供电热线
                <span class="item-note">
                  95598
                </span>
              </a>

              <!-- <a class="item">
                广州市路灯管理所
                <span class="item-note">
                  84446148
                </span>
              </a> -->

              <a class="item">
                煤气公司客户服务热线
                <span class="item-note">
                  83962222
                </span>
              </a>

              <a class="item">
                广州有线业务咨询电话
                <span class="item-note">
                  86681107
                </span>
              </a>

            </div>
        </div>

    </div>

</div>

<!--优惠卷细节-->
<div class="ui asuranceDetail2 modal">

    <div class="ui form segment">
        <div class="field">
            <label>优惠卷价格</label>
            <input type="text" disabled="disabled" ng-model="keynote.company">
        </div>

        <div class="field">
            <label>优惠卷有效期至</label>
            <input type="text" disabled="disabled" ng-model="keynote.id">
        </div>
    </div>

</div>

<!--优惠商家细节-->
<div class="ui healthCompanyDetail2 modal">

    <div class="ui form segment">
        <div class="field">
            <label>优惠内容</label>
            <input type="text" disabled="disabled" value="买书送饮料">
        </div>

        <div class="field">
            <label>优惠有效期至</label>
            <input type="text" disabled="disabled" ng-model="keynote.id">
        </div>
    </div>

</div>

