<div>
	<div ng-include="'app/views/top.html'"></div>

    <div class="list">

      <div class="item item-divider box-sizing-border-box textAlignCenter">
        便民服务热线
      </div>

      <a class="item">
        煤气抢险
        <span class="item-note">
          85515920
        </span>
      </a>

      <a class="item">
        自来水供水热线
        <span class="item-note">
          81962288
        </span>
      </a>

      <a class="item">
        广州供电热线
        <span class="item-note">
          95598
        </span>
      </a>

      <a class="item">
        广州市路灯管理所
        <span class="item-note">
          84446148
        </span>
      </a>

      <a class="item">
        煤气公司客户服务热线
        <span class="item-note">
          83962222
        </span>
      </a>

      <a class="item">
        广州有线业务咨询电话
        <span class="item-note">
          86681107
        </span>
      </a>

    </div>
</div>